In [1]:
import warnings
warnings.simplefilter('ignore')

# %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import json 
import requests

In [2]:
r = requests.get('https://api.census.gov/data/2017/abscs?get=NAME,NAICS2017_LABEL,INDGROUP,SEX_LABEL,ETH_GROUP_LABEL,RACE_GROUP_LABEL,VET_GROUP_LABEL,EMPSZFI_LABEL,YEAR,EMP,EMP_F&for=state:*&key=89c98e1ea78b5bd507e2a4c92e426d8069492b9e')
# df = pd.read_json(json.dumps(x))

In [3]:
x = r.json()

In [8]:
abs2018 = pd.DataFrame(x)
abs2018.head()
print(len(abs2018))

52

In [5]:
# Change the first row of Dataframe to the 'Dataframe Header'
abs2018.columns = abs2018.iloc[0]
abs = abs2018[1:]
abs.head()

,NAME,NAICS2017_LABEL,INDGROUP,SEX_LABEL,ETH_GROUP_LABEL,RACE_GROUP_LABEL,VET_GROUP_LABEL,EMPSZFI_LABEL,YEAR,EMP,EMP_F,state
1,Mississippi,Total for all sectors,None,Total,Total,Total,Total,All firms,2017,894056,None,28
2,Missouri,Total for all sectors,None,Total,Total,Total,Total,All firms,2017,2472316,None,29
3,Montana,Total for all sectors,None,Total,Total,Total,Total,All firms,2017,366851,None,30
4,Nebraska,Total for all sectors,None,Total,Total,Total,Total,All firms,2017,875463,None,31
5,Nevada,Total for all sectors,None,Total,Total,Total,Total,All firms,2017,1170673,None,32

In [7]:
#abs2018["NAME"].nunique()
abs2018.nunique(axis = 0, dropna = True)

0
NAME                52
NAICS2017_LABEL      2
INDGROUP             1
SEX_LABEL            2
ETH_GROUP_LABEL      2
RACE_GROUP_LABEL     2
VET_GROUP_LABEL      2
EMPSZFI_LABEL        2
YEAR                 2
EMP                 52
EMP_F                1
state               52
dtype: int64