In [1]:
# Dependencies
import json
import requests
import pandas as pd
import numpy as np

from config import api_key

In [2]:
# Create Base URL
host = "http://api.census.gov/data"
year = "2018"
dataset = "cbp"

# Use join function to combine these components by "/"
base_url = "/".join([host, year, dataset])
#print(base_url)

In [3]:
# Create a dict to carry the query strings 
# There are 2 params required: (1)get--variables (2)for--geometry interests

predicates = {}
get_vars = ["GEO_ID", "NAME", "SEX_LABEL", "ETH_GROUP_LABEL", "NAICS2017", "RACE_GROUP_LABEL"]
predicates["get"] = ",".join(get_vars)
predicates["for"] = "state:*"
# print(predicates)

In [9]:
url = f'{base_url}?get={predicates["get"]}&for={predicates["for"]}&key={api_key}'
print(url)

http://api.census.gov/data/2018/abscs?get=GEO_ID,NAME,SEX_LABEL,ETH_GROUP_LABEL,NAICS2017,RACE_GROUP_LABEL&for=state:*&key=8749b14c05eb937b188b079e9443f239319127e8

In [10]:
# Execute the request and store json-formatted responses in a variable
# res = requests.get(base_url, params=predicates) --> initial use
res = requests.get(url).json()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [6]:
# DataFrame
res_df = pd.DataFrame(res)
res_df.head(2)

      0         1      2      3          4          5      6
0  YEAR      NAME  ESTAB    EMP  NAICS2017  SUBSECTOR  state
1  2018  Nebraska    357  21262      55111        551     31

In [7]:
# Change the first row of Dataframe to the 'Dataframe Header'
res_df.columns = res_df.iloc[0]
cbp = res_df[1:]
cbp.head(2)

0  YEAR      NAME ESTAB    EMP NAICS2017 SUBSECTOR state
1  2018  Nebraska   357  21262     55111       551    31
2  2018  Nebraska     8    330    212312       212    31

In [8]:
# Rename census variables to be readible for HUMAN!
cbp2018 = cbp.rename({
                "YEAR" : "Year",
                "NAME" : "States",
                "ESTAB" : "Establishment Counts",
                "EMP" : "Employment Counts",
                "NAICS2017" : "NAICS Code",
                "SUBSECTOR" : "Sub Sector Code"
                }, axis="columns")

In [9]:
# Change data type for some columns -- from Objects to Int
cbp2018.astype({"Establishment Counts": "int",
                "Employment Counts" : "int"
               }).dtypes

0
Year                    object
States                  object
Establishment Counts     int64
Employment Counts        int64
NAICS Code              object
Sub Sector Code         object
state                   object
dtype: object

In [10]:
cbp2018 = cbp2018[["Year", "States", "Establishment Counts", "Employment Counts", "NAICS Code", "Sub Sector Code"]]

In [19]:
cbp2018.head(2)

,Year,States,Establishment Counts,Employment Counts,NAICS Code,Sub Sector Code
1,2018,Nebraska,357,21262,55111,551
2,2018,Nebraska,8,330,212312,212

In [32]:
#gSt = cbp2018.groupby("States").sum()

In [35]:
#gSt.drop(["States"] == 'American Samoa', axis=0)

In [34]:
#cbp2018.drop(['American Samoa', 'Commonwealth of the Northern Mariana Islands',
#                'Guam', 'Puerto Rico', 'United States Virgin Islands'], axis=0)